.App
{
  font-family: Roboto,sans-serif;
  font-size: 14px;
  padding: 20px;
}

table, th, td
{
  border: 1px solid lightgray;
  border-collapse: collapse;
  table-layout: fixed;
}

table
{
  width: 80%;
  margin: 0 auto;
}

th, td
{
  padding: 10px;
}

th:first-child, th:last-child, td:first-child, td:last-child
{
  width: 50px;
}

.cell
{
  color: white;
  background-color: #ad171c;
  text-align: center;
}

.subject
{
  background-color: #cfe2ff;
}
